<%= form_with model: @author do |form| %>
  <div>
    <%= form.label :author %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email%><br>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :contact_no%><br>
    <%= form.text_field :contact_no %>
  </div>
  <div>
    <%= form.label :address%><br>
    <%= form.text_field :address %>
  </div>
  <br>
  <button class="btn btn-success" onclick="form.submit">Submit</button>
<% end %>
